/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.bigred{
	font-size: 20px;
	color: red;
}

body{

}

.wrapper{
	height: 100%;
  width: 100%;
  background-image: url(img/1618566638_39-funart_pro-p-oboi-fon-chernoe-zvezdnoe-nebo-45.jpg);
  background-size: 100% 100%;
  animation: scroll linear 130s infinite;
}
@keyframes scroll {
    from { background-position: -1000px 100%, 0 0;}
    to { background-position: 100%, 100%, 100%, 100%; }
   }

.content{
	color: 	#87CEEB;
	font-family: Helvetica, sans-serif;
	max-width: 900px;
	max-height: 100%;
	margin: auto;

}
.titlle{
	padding: 40px;
text-shadow: 0 0 15px rgba(117, 187, 240, 1);
	color: #5F9EA0;
	font-family: Bradley Hand, cursive;

}
.titlle_1{
font-size: 27px;
letter-spacing: 5px;
text-align: center;
margin: 0 0 15px 0;

}
.titlle_2{
font-size: 20px;
letter-spacing: 3px;
text-align: center;
}
.tabs{
	margin: 0 0 80px 0;
}
.tab__nav{
	display: flex;
	justify-content: center;


}
.tab__nav-btn{
padding: 15px 30px 15px 30px;
border-radius: 20px 20px 0 0;
box-shadow: 0px 0px 15px rgba(224, 255, 255, 0.5);
border: 2px solid rgba(240, 255, 255, 0.5);
background-color: #5F9EA0;
color: white;
letter-spacing: 2px;
font-family: Bradley Hand, cursive;



}
.tab__nav-btn.active {
	background-color: #20B2AA;
   
}
.tabs-content{
	
	border: 2px solid rgba(240, 255, 255, 0.5);
	max-width: 500px;
	max-height: 300px;
	min-height: 200px;
	margin: auto;
	border-radius: 20px;
	color: rgba(240, 255, 255, 0.8); 
	font-family: Bradley Hand, cursive;
	letter-spacing: 2px;
	font-size: 17px;
	overflow: hidden;
	box-shadow: 0px 0px 15px rgba(224, 255, 255, 0.5);
	text-align: center;
	line-height: 27px;

}
.img-hands{

}
.img-baloons{
margin: 20px 0 0 270px;
max-width: 130px;

}
.img-love{
float: right;
  margin: 0 10px 10px 0;
  max-width:180px;
}
.tabs_item{
	padding: 30px;


}
.tabs_item:last-child{
	font-size: 14px;
	line-height: 17px;
	text-align: left;
	

}
.tabs_item {
    display: none;
}

.tabs_item.active {
    display: block;
}

.text__love{
	margin: 0 0 40px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #5F9EA0;
	font-size: 15px;
	letter-spacing: 2px;
	font-family: Bradley Hand, cursive;
	text-align: center;
	text-shadow: 0 0 15px rgba(117, 187, 240, 1);
	line-height: 20px;
}
	
.img_smile{
max-width: 20px;
margin: 6px 0 0 7px;
}

.arrow_down{
	max-width: 24px;
	display: none;
}
.button-love__btn{
	margin: 0 0 300px 0;
	width: 100%;
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	}

.wave-btn{
	width: 280px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0 0 10px 10px;
	transition: all 0.8s ease 0s;
	position: relative;
	overflow: hidden;

}
.wawe-btn__text
.wave-btn__wave
.wave-btn{
	

}
.wave-btn__text{
	font-family: Bradley Hand, cursive;
	color: white;
	text-transform: uppercase;
	letter-spacing: 8px;
	position: relative;
	z-index: 1;

}
.wave-btn__waves{
	position: absolute;
	width: 280px;
	height: 280px;
	background-color: #5F9EA0;
	box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.8);
	top: 0;
left: 0;

}
.wave-btn__waves:after,
.wave-btn__waves:before{
	content:'';
	position: absolute;
	top: 0;
	left: 50%;
	width: 250%;
	height: 250%;
	transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);

}
.wave-btn__waves:before{
	background: #000;
	border-radius: 48%;
	animation: waves 5s infinite linear;
}
.wave-btn__waves:after{
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 42%;
	animation: waves 10s infinite linear;
}
@keyframes waves{
	0%{
		transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
	}
	100%{
		transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
	}
}
.wave-btn:hover{
	border-radius: 10px;
	transition: all 0.8s ease;
	box-shadow: 0 0 40px rgba(117, 187, 240, 1);
}
	
